borderRadius = 5px

.message
  margin-bottom 0.25em

  img
    max-width 300px
    max-height 300px
    display block
    border-radius borderRadius
    margin-bottom 0.5em

.message__body
  word-wrap break-word
