.chat__input
  padding 1em
  padding-top 0
  margin 0
  input
    flex 1
    padding 1.5em 0
    padding-bottom 1.2em
    height 2em
    border 0
    border-bottom 1px solid #e6e6e6
    font inherit
    color inherit
    &:focus
      outline 0

.chat__input-wrapper
  position relative
  display flex

