.message-box
  flex 0 1
  flex-grow 1
  overflow auto
  padding 1em
  padding-bottom 0

.message-box__timestamp
  font-size 0.8em
  color #aaa
  border-bottom 1px solid #D4D4D4
  margin-bottom 0.5em
  padding-bottom 4px

.message-box__message:not(:last-child)
  margin-bottom 1em

.message-group
  margin-bottom 1em

.message-group__header
  margin-bottom 0.5em
  *
    vertical-align middle

.message-group__nick
  font-weight bold
  margin-right 0.4em
  font-family 'Source Sans Pro', sans-serif
  font-weight 600
  font-size 1.2em

.message-group__timestamp
  font-size 0.8em
